configuration {
	modi: "drun,ssh";
	fixed-num-lines: true;
	font: "JetBrains Mono Regular 16";
	location: 0;
	show-icons: true;
	terminal: "roxterm";
	ssh-command: "{terminal} -x "{ssh-client} {host}"";
	run-command: "{cmd}";
	run-shell-command: "{terminal} -c "{cmd}"";
	matching: "fuzzy";
}

@import "gruvbox.rasi"
